<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span> PC </span>
      </p>
      <p class="game-tabs-par">Publishers:<span>Konami</span></p>
      <p class="game-tabs-par">
        Website:<a class="game-tabs-link" href="#" target="_blank"></a>
      </p>
      <div class="game-description">Some game-description</div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">14</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshot"
        src="https://media.rawg.io/media/games/84d/84da2ac3fdfc6507807a1808595afb12.jpg"
        alt="screenshot"
      />
    </mat-tab>
    <mat-tab label="Trailer">
      <video class="game-trailer" controls>
        <source src="" type="video/mp4" />
        Your Browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
